/* Default styles */
html {
    margin: 0;
    font-size: 15px;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Blocks */
.page {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    position: relative;
    background-image: url(/assets/img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-color: #ccc;
    min-height: 400px;
}

.header_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 90px;
}

.header_title {
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
    font-size: 3.95rem;
    letter-spacing: 5.71px;
    color: #fff;
    margin: 0;
}

@media (max-width: 900px) {
    .header_title {
        font-size: 3rem;
    }
}

@media (max-width: 780px) {
    .header_title {
        font-size: 2rem;
    }
}

.header_subtitle {
    font-size: .9rem;
    font-weight: 500;
    color: #fff;
    letter-spacing: .85px;
}

.header_logo {
    position: absolute;
    top: 41px;
}

.nav_bar {
    display: flex;
    padding: 0 200px;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    width: 100%;
    border-bottom: 1px solid #c4c9cc;
}

@media (max-width: 1150px) {
    .nav_bar {
        padding: 0 70px;
    }
}

@media (max-width: 550px) {
    .nav_bar {
        flex-direction: column;
    }
}

.nav_logo {
    display: flex;
    height: 35px;
}

@media (max-width: 550px) {
    .nav_logo {
        height: 20px;
        width: 100px;
        margin-top: 10px;
    }
}

.nav_bar_links {
    display: flex;
}

.nav_link {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: #48555B;
    margin-right: 48px;
    text-decoration: none;
    transition: color .1s linear;
}

.nav_link:hover {
    color: #00A4E5;
}

.nav_link:last-child {
    margin-right: 0;
}

@media (max-width: 1000px) {
    .nav_link {
        margin-right: 20px;
    }
}

@media (max-width: 550px) {
    .nav_link {
        font-size: .8rem;
        margin-bottom: 10px;
    }
}

.section_about {
    display: flex;
    flex-direction: column;
    padding: 70px 200px 160px 200px;
}

@media (max-width: 1150px) {
    .section_about {
        padding: 70px 70px 100px 70px;
    }
}

.about_content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.about_content_1 {
    display: flex;
}

@media (max-width: 1350px) {
    .about_content_1 {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.about_content_2 {
    display: flex;
    flex-direction: row-reverse;
}

@media (max-width: 1150px) {
    .about_content_2 {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.section_text {
    margin-right: 75px;
}

@media (max-width: 1350px) {
    .section_text_1 {
        text-align: center;
        margin-right: 0;
        width: 100%;
    }
}

.section_text_2 {
    margin: 0;
}

.section_title {
    display: flex;
    justify-content: center;
    position: relative;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 800;
    color: #48555B;
    letter-spacing: 2.3px;
}

.section_title::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    bottom: 10px;
}

.section_subtitle {
    font-weight: bold;
    font-size: 1.6rem;
    letter-spacing: 0.2px;
    margin-bottom: 30px;
}

.subtitle_2 {
    margin-top: 50px;
    text-align: right;
}

@media (max-width: 1150px) {
    .subtitle_2 {
        text-align: center;
        margin-right: 0;
        width: 100%;
    }
}

.aqua {
    color: #00A4E5;
}

.section_description {
    font-size: 1.1rem;
    line-height: 23px;
    letter-spacing: .2px;
    margin: 0;
}

.description_2 {
    margin-left: 50px;
    text-align: right;
}

@media (max-width: 1150px) {
    .description_2 {
        text-align: center;
        margin-right: 0;
        margin-left: 0;
    }
}

.section_img_bar {
    max-height: 224px;
    margin-top: 75px;
    display: flex;
}

@media (max-width: 1350px) {
    .img_bar_1 {
        margin-top: 10px;
    }
}

.bar_img {
    margin-right: 20px;
    transition: opacity .1s linear;
}

.bar_img:hover {
    opacity: .8;
}

.bar_img_last {
    margin-right: 0;
}

.img_title {
    position: absolute;
    z-index: 1;
    font-weight: 600;
    color: #fff;
    letter-spacing: .85px;
    padding: 5px 10px;
}

.section_services_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 200px;
}

@media (max-width: 1150px) {
    .section_services_head {
        padding: 0 70px;
    }
}

@media (max-width: 550px) {
    .section_services_head {
        flex-direction: column;
    }
}

.left_title {
    display: flex;
    position: relative;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 800;
    color: #48555B;
    letter-spacing: 2.3px;
    text-align: left;
}

.left_title::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    bottom: 10px;
    right: 129px;
}

.btn_text_box {
    display: flex;
    margin: 0 32px 0 154px;
    font-size: 1.1rem;
}

@media (max-width: 1100px) {
    .btn_text_box {
        margin: 0 40px;
        font-size: .9rem;
    }
}

@media (max-width: 550px) {
    .btn_text_box {
        margin: 0;
        text-align: center;
    }
}

.btn {
    display: flex;
    background-color: #00A4E5;
    height: 40px;
    white-space: nowrap;
    text-align: center;
    font-size: .8rem;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    padding: 11px 29px;
    transition: background-color .1s linear;
}

.btn:hover {
    background-color: #22cccc;
}

.column {
    display: flex;
    justify-content: space-between;
    padding: 0 200px 70px;
    margin-top: 30px;
}

@media (max-width: 1150px) {
    .column {
        padding: 0 70px 70px;
    }
}

@media (max-width: 750px) {
    .column {
        flex-direction: column;
        align-items: center;
    }
}

.col_item {
    display: flex;
    position: relative;
    margin: 0 20px 25px 0;
}

.col_item:hover .item_title {
    transform: translateY(0);
}

.col_item:last-child {
    margin-right: 0;
}

@media (max-width: 1000px) {
    .col_item {
        margin: 0;
    }
}

@media (max-width: 750px) {
    .col_item {
        margin-bottom: 40px;
    }
}

@media (max-width: 1000px) {
    .col_item_3 {
        display: none;
    }
}

.col_img {
    height: 330px;
    max-width: 350px;
    transition: opacity .1s linear;
}

.col_img:hover {
    opacity: .8;
}

@media (max-width: 1480px) {
    .col_img {
        max-width: 300px;
    }
}

@media (max-width: 1350px) {
    .col_img {
        max-width: 270px;
    }
}

@media (max-width: 1250px) {
    .col_img {
        max-width: 240px;
        max-height: 290px;
    }
}

@media (max-width: 1000px) {
    .col_img {
        max-width: 300px;
    }
}

.item_title {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: .5px;
    font-weight: 700;
    color: #fff;
    pointer-events: none;
    transform: translateY(100%);
    transition: transform .1s linear;
}

.section_contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/img/bg1.jpg);
    background-size: cover;
    background-position: center;
    background-color: #ccc;
    padding: 20px 50px 170px;
}

@media (max-width: 1250px) {
    .section_contact {
        padding-bottom: 100px;
    }
}

@media (max-width: 1150px) {
    .section_contact {
        padding: 0 70px 100px;
    }
}

.contact_title {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .15px;
    line-height: 36px;
    text-align: center;
    color: #48555B;
    margin-bottom: 40px;
}

.contact_box {
    display: flex;
    flex-direction: row;
    padding: 20px 140px;
    background-color: rgba(0, 164, 229, 0.3);
    border-radius: 10px;
}

@media (max-width: 1300px) {
    .contact_box {
        padding: 20px 90px;
    }
}

@media (max-width: 1250px) {
    .contact_box {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 1150px) {
    .contact_box {
        padding: 0 70px;
    }
}

@media (max-width: 550px) {
    .contact_box {
        padding: 0 30px;
    }
}

.contact_text_box {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 10px;
    letter-spacing: .85px;
    color: #48555B;
    text-align: right;
    padding-right: 50px;
}

@media (max-width: 1300px) {
    .contact_text_box {
        padding-right: 20px;
    }
}

@media (max-width: 1250px) {
    .contact_text_box {
        text-align: center;
    }
}

@media (max-width: 1250px) {
    .contact_text_1 {
        margin-bottom: 10px;
    }
}

.contact_text_2 {
    margin-bottom: 3px;
}

@media (max-width: 1250px) {
    .contact_text_2 {
        margin-top: 10px;
    }
}

.contact_numbers {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.contact_numbers:last-child {
    margin-right: 0;
}

.contact_number {
    font-size: 1.3rem;
    font-weight: 600;
    color: #48555B;
    text-decoration: none;
    margin: 0 15px 15px 0;
    transition: color .1s linear;
}

.contact_number:hover {
    color: #00A4E5;
}

.number_2 {
    margin-right: 20px;
}

.signup_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}

@media (max-width: 1300px) {
    .signup_box {
        padding-left: 20px;
    }
}

@media (max-width: 1250px) {
    .signup_box {
        padding: 20px 0;
    }
}

.signup_title {
    font-size: 1.6rem;
    font-weight: bold;
    color: #120e0e;
    letter-spacing: .85px;
    margin: 15px auto;
    white-space: nowrap;
}

.input {
    padding: 11px 80px 11px 16px;
    border: 1px solid #00A4E5;
    font-size: .9rem;
}

.input:focus {
    outline: none;
}

.form_group {
    display: flex;
    flex-direction: row;
}

.btn_input {
    font-size: .8rem;
    border: 0;
}

.btn_input:focus {
    outline: none;
}

.btn_input:hover {
    cursor: pointer;
}

.section_info {
    background-color: #141A20;
    width: 100%;
    padding: 20px 390px;
}

@media (max-width: 550px) {
    .section_info {
        padding: 20px 0;
    }
}

.column_info {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.col_1_2_3 {
    display: flex;
    flex-direction: column;
}

.col_1 {
    margin-right: 200px;
}

@media (max-width: 780px) {
    .col_1 {
        margin-right: 50px;
    }
}

.col_2 {
    margin-right: 200px;
}

@media (max-width: 780px) {
    .col_2 {
        margin-right: 50px;
    }
}

.info_subtitle {
    font-size: .8rem;
    letter-spacing: .85px;
    color: #fff;
    margin-bottom: 10px;
}

.info_link {
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: .85px;
    line-height: 25px;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    transition: color .1s linear;
}

.info_link:hover {
    color: #00A4E5;
}

.info_text {
    color: #fff;
    font-size: .9rem;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 22px 0;
    background-color: #171819;
    color: #fff;
    width: 100%;
    font-size: .8rem;
    letter-spacing: .85px;
}
